<%= render 'navbar' %>

<div class="order">
	<br>
	<br>
	<% if user_signed_in? %>
			<p style="color:#C2391C"> <%=  current_user.email %> - <%= link_to "Ieșire", destroy_user_session_path, class: "fa fa-sign-out", :method => 'delete' %> </p>
	<% end %>
	<h1 style="text-align:center">Editează comanda</h1>
	<%= render 'layouts/messages' %>
	<%=  render 'form' %>
</div>
