<h1>Lista de comenzi</h1>

<p>
	<%= link_to "Crează o comandă nouă", new_order_path %>
</p>
<table>
	<tr>
		<th>Cartela de felicitare</th>
		<th>Detalii de livrare</th>
		<th>Data livrării</th>
	</tr>
	<% @orders.each do |order| %>
	<tr>
		<td><%= order.greeting %></td>
		<td><%= order.special_request %></td>
		<td><%= order.delivery_date %></td>
		<td><%= link_to "Editează", edit_order_path(order) %></td> 
		<td><%= link_to "Vizualizează", order_path(order) %></td> 
		<td><%= link_to "Șterge", order_path(order), method: :delete, data: {confirm: "Sunteți siguri?"} %></td>
	</tr>
	<% end %>
</table>
