<h1>Comanda creată</h1>

<p>
	Cartela de felicitare: <%= @order.greeting %>
</p>

<p>
	Detalii de livrare: <%= @order.special_request %>
</p>

<p>
	Data livrării: <%= @order.delivery_date %>
</p>

<%= link_to "Editează această comandă", edit_order_path(@order) %> |
<%= link_to "Treci la lista de comenzi", orders_path %>
